header.about-home {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('../assets/about-header.jpg');
  background-position: center, center;
  height: 20vh;

  .inner {
    max-width: 100%;
    padding-left: 25%;
    padding-right: 0;

    h1 {
      font-size: 6rem;
      margin-top: 20px;
    }
  }

}

.how-it-works,
.membership-features {
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 40px;
}

.how-it-works {
  width: 40%;

  @media (max-width: @tablet) {
    width: 70%
  }
}

.membership-features {
  width: 60%;

  .membership-features-content {
    margin: 30px auto;
  }
}

.row {
  display: flex;
  @media (max-width: @mobile) {
    flex-direction: column;
    align-items: center;
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  padding: 2%;

  @media (max-width: @mobile) {
    width: 100%;
  }

  p {
    text-align: center;
  }
}
