/* =====================
        CAROUSEL
 ======================= */
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  position: relative;

  @media(max-width: @mobile) {
    margin-bottom: 50px;
  }

  .content {
    display: flex;
    justify-content: space-evenly;
    max-width: 55%;
    box-shadow: 0 0 14px 2px rgba(0,0,0,.31);
    padding: 30px;
    position: inherit;

    &.slide-left {
      transition: 1s;
      left: -100%;
      opacity: 0;
      display: initial;
    }

    &.slide-middle {
      transition: 1s;
      left: 0;
      opacity: 1;
      display: initial;
    }

    &.slide-right {
      transition: 1s;
      left: 100%;
      opacity: 0;
      display: initial;
    }

    &.hide {
      display: none;
    }
    
    @media(max-width: @tablet) {
      flex-direction: column;
      align-items: center;
      max-width: 95%;
    }

    @media(max-width: @mobile) {
      max-width: 100%;
      padding: 50px 30px 100px;
    }
    
    .content-img {
      display: flex;
      align-items: center;
      margin: 0;
    
      img {
        width: 100%;
        height: auto;
      }

      @media(max-width: @tablet) {
        width: 50%;
      }
    }

    .content-text {
      margin: 0 50px;
      max-width: 65%;
      height: 45vh;
      position: relative;

      @media(max-width: @tablet) {
        height: initial;
        max-width: 90%;
        margin: initial;
      }

      @media( max-width: @mobile) {
        height: 35vh;
        max-width: 100%;
        margin: 0 10px;
      }

      h2 {
        font-size: 3.2rem;
        @media(max-width: @mobile) {
          font-size: 2.4rem;
        }
      }

      p {
        font-size: 2.0rem;
        line-height: 1.4;
        @media(max-width: @mobile) {
          font-size: 1.6rem;
        }
      }

      span {
        display: block;
        font-size: 2.4rem;
        text-align: right;
        position: absolute;
        right: 0px;
        bottom: 0px;

        @media(max-width: @tablet) {
          bottom: -1rem;
        }

        @media(max-width: @mobile) {
          font-size: 1.8rem;
        }
      }
    }
  }

 .left-arrow,
 .right-arrow {
    margin: 0 30px;
    cursor: pointer;

    i.fas {
      color: @arrow-color;
    }
  }

  @media (max-width: @mobile) {
    margin: 0;
  }

  .left-arrow {
    @media(max-width: @mobile) {
      position: absolute;
      left: 0;
      bottom: 15px;
    }
  }

  .right-arrow {
    @media(max-width: @mobile) {
      position: absolute;
      right: 0;
      bottom: 15px;
    }
  }

}

// .carousel .hide {
//   display: none;
// }

