.contact-header {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(../assets/contact-header.jpg);
    background-size: cover;
    padding: 15rem;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .inner {
        color: white;
    }
}