.food-prep-header {
    background-image: url(../assets/food-prep-header.jpg);
    background-size: cover, contain;
    background-position: center, top;
    display: flex;
    padding: 15rem 0 15rem;

    .inner {
        display: flex;
        flex-direction: column;
        max-width: 35%;
        margin: 0 auto;
        padding-right: 45%;
        color: black;

        h1 {
            border-bottom: 1px solid black;
            padding-bottom: 0.5rem;
        }

        p {
            margin: 0 0 1rem;
            width: 70%;
        }

        .cta-button {
            .button-mix;
        }
    }
}