header.home {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url('../assets/home-header.jpg');
    background-size: auto, cover;
    background-position: center, top;
    display: flex;
    padding: 15rem 0 15rem;

    @media(max-width: @mobile) {
      padding: 10rem 0 20rem;
      height: 60vh;
    }

    .inner {
        display: flex;
        flex-direction: column;
        max-width: 35%;
        margin: 0 auto;
        padding-right: 45%;
        color: white;

        @media(max-width: @mobile) {
          max-width: 45%;
          padding-right: 30%;
        }

        h1 {
            border-bottom: 1px solid white;
            padding-bottom: 0.5rem;

            @media(max-width: @mobile) {
              font-size: 4.2rem;
            }
        }

        p {
            margin: 0 0 1rem;
            width: 70%;
            @media(max-width: @mobile) {
              width: 100%;
              margin-bottom: 30px;
            }
        }

        .cta-button {
            .button-mix;
        }
    }
}




