header.home {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)), url('../assets/appetizer-dark-delicious-326279.jpg');
    background-size: auto, cover;
    background-position: center, top;
    display: flex;
    padding: 10em 0 10em;

    .inner {
        display: flex;
        flex-direction: column;
        max-width: 35%;
        margin: 0 auto;
        padding-right: 45%;

        h1 {
            border-bottom: 1px solid black;
            padding-bottom: 0.5em;
        }

        p {
            padding: 1em 0;
            margin-top: 0;
            width: 80%;
        }

        .cta-button {
            background-color: #FFBF00;
            padding: 1em;
            border-radius: 0.5em;
            width: 15em;
            text-align: center;
            cursor: pointer;

            &:hover {
                background-color: @accent-hover;
            }
        }
    }
}
