/* =====================
     TESTIMONIALS
=======================*/
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;

  .testimonial {
    display: flex;
    justify-content: space-evenly;
    max-width: 60%;
    box-shadow: 0 0 14px 2px rgba(0,0,0,.31);
    padding: 50px;
  
    .testimonial-img {
      display: flex;
      align-items: center;
    
      img {
        border-radius: 10px;
        width: 100%;
        height: auto;
      }
    }

    .testimonial-text {
      padding: 0 100px;

      h2 {
        font-size: 3.6rem;
      }

      p {
        font-size: 1.8rem;
      }

      span {
        font-size: 2.4rem;
      }
    }
  }

  .left-arrow,
  .right-arrow {
    font-size: 7.2rem;
    color: grey;
    margin: 0 20px;
    cursor: pointer;
  }
}

