/* =====================
      REUSABLES
 ======================= */
.headline {
  display: flex;
  align-items: center;
  width: 40%;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;

  @media(max-width: @mobile) {
    width: 100%;
  }

  h2 {
    border-bottom: 2px solid @accent-color;
    padding-bottom: 10px;
  }
}

.cta-button {
  .button-mix(25rem);
}

/* =====================
        FEATURES
 ======================= */

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;

    @media(max-width: @mobile) {
      padding: 5rem;
    }
    
    .keypoints {
        display: flex;
        justify-content: space-around;
        width: 80%;

        @media(max-width: @mobile) {
          flex-direction: column;
          width: 100%;
          align-items: center;
        }

        .card {
            padding: 20px;
            border-radius: 10px;
            margin: 0 1rem;
            width: 34%;
            margin-bottom: 20px;
            position: relative;
            transition: 0.5s; 

            @media(max-width: @mobile) {
              width: 100%;
            }

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 5px rgb(224, 224, 224);
                background-color: #F1F1F1;
                cursor: pointer;
            }

            img {
                width: 100%;
                border-radius: 10px;
                box-shadow: 0 0 10px lightgrey;
            }

            .learn-more {
                position: absolute;
                bottom: 5px;
                color: @nav-bg-color;
            }
        }
    }
}

/* =====================
     TESTIMONIALS
 ======================= */
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;

  @media(max-width: @mobile) {
    padding: 1%;
  }


  .content {
    display: flex;
    justify-content: space-evenly;
    max-width: 55%;
    box-shadow: 0 0 14px 2px rgba(0,0,0,.31);
    padding: 30px;

    @media(max-width: @mobile) {
      flex-direction: column;
      max-width: 100%;
    }
  
    .content-img {
      display: flex;
      align-items: center;
      margin: 0;
    
      img {
        width: 100%;
        height: auto;
      }
    }

    .content-text {
      margin: 0 50px;
      max-width: 50%;
      height: 45vh;
      position: relative;

      h2 {
        font-size: 3.2rem;
      }

      p {
        font-size: 2.0rem;
        line-height: 1.4;
      }

      span {
        display: block;
        font-size: 2.4rem;
        text-align: right;
        position: absolute;
        right: 0px;
        bottom: 0px;
      }
    }
  }

  .left-arrow,
  .right-arrow {
    font-size: 7.2rem;
    color: @arrow-color;
    margin: 0 20px;
    cursor: pointer;
  }
}

.carousel .hide {
  display: none;
}

/* =====================
        SIGN UP
 ======================= */

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;

  .headline {
    margin-bottom: 30px;
  }
}
