/* =====================
      REUSABLES
 ======================= */
.headline {
  display: flex;
  align-items: center;
  width: 40%;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;

  @media(max-width: @mobile) {
    width: 100%;
  }

  h2 {
    border-bottom: 2px solid @accent-color;
    padding-bottom: 10px;
  }
}

.cta-button {
  .button-mix(25rem);
}

.cta-button-header {
  .button-mix(25rem, @nav-bg-color, darken(@nav-bg-color, 10%));
  margin-top: 15px;
}

i.fas,
i.far, i.fab {
  color: @icon-color;
  margin-bottom: 20px;

  @media (max-width: @mobile) {
    margin-top: 10px;
  }
}

/* =====================
        FEATURES
 ======================= */

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;

    @media(max-width: @mobile) {
      padding: 5rem;
    }
    
    .keypoints {
        display: flex;
        justify-content: space-around;
        width: 80%;

        @media(max-width: @mobile) {
          flex-direction: column;
          width: 100%;
          align-items: center;
        }

        .card {
            padding: 20px;
            border-radius: 10px;
            margin: 0 1rem;
            width: 34%;
            margin-bottom: 20px;
            position: relative;
            transition: 0.5s; 

            @media(max-width: @mobile) {
              width: 100%;
            }

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 5px rgb(224, 224, 224);
                background-color: #F1F1F1;
                cursor: pointer;
            }

            img {
                width: 100%;
                border-radius: 10px;
                box-shadow: 0 0 10px lightgrey;
            }

            .learn-more {
                position: absolute;
                bottom: 5px;
                color: @nav-bg-color;
            }
        }
    }
}


/* =====================
        SIGN UP
 ======================= */

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;

  @media(max-width: @mobile) {
    margin-bottom: 15%;
  }

  .headline {
    margin-bottom: 30px;
    @media(max-width: @mobile) {
      margin-bottom: 20px;
    }
  }
}
