.button-mix(@button-width: 15rem; @button-color: @accent-color; @button-hover: @accent-hover) {
    background-color: @button-color;
    text-align: center;
    text-shadow: 0 0 0.2rem #A0A0A0;
    padding: 1rem;
    border-radius: 0.5rem;
    width: @button-width;
    cursor: pointer;

    &:hover {
        background-color: @button-hover;
    }
}
