.nav {

  a {
    text-decoration: none;
    color: @nav-bg-color;
  }

  .nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;

    .nav-login-signup {
      span {
        color: #A0A0A0;
      }
    }
  }

  .nav-bottom {
    background-color: @nav-bg-color;

    ul {
      list-style: none;
      display: flex;
      margin: 0 50px;
      
      a {
        color: white;
        text-transform: uppercase;
      }

      li {
        padding: 12px;
      }

      li:hover {
        background-color: darken(@nav-bg-color, 10%);
      }
    }
  }

}

@media (max-width: @mobile) {
  .nav {
    .nav-top {
      margin: 0 20px;
    }

    .nav-bottom {
      ul {
        margin: 0 1%;

        li {
          font-size: 1.4rem;
        }
      }
    }
  }
  
}
