.nav {

  a {
    text-decoration: none;
    color: @nav-bg-color;
  }

  .nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;

    .nav-login-signup {
      span {
        color: #A0A0A0;
      }
    }
    
    @media(max-width: @tablet) {
      margin: 0 3rem;
    }

    @media (max-width: @mobile) {
      margin: 0 20px;
    }
  }

  .nav-bottom {
    background-color: @nav-bg-color;

    @media(max-width: @mobile) {
      display: flex;
      position: absolute;
      min-height: 4.2rem;
      width: 100%;
    }

    
    
    ul {
      list-style: none;
      display: flex;
      margin: 0 50px;
      
      .fa-bars {
        display: none;
        color: white;
  
        @media (max-width: @mobile) {
          display: flex;
          position: absolute;
          left: 3rem;
        }
      }

      @media (max-width: @tablet) {
        margin: 0 3rem;
        padding: 0;
      }
      
      @media (max-width: @mobile) {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
      }
      
      a {
        color: white;
        text-transform: uppercase;
      }
      
      li {
        padding: 12px;
        
        @media(max-width: @mobile) {
          font-size: 1.4rem;
        }

        @media (max-width: @mobile) {
          display: none;
        }
      }

      li:hover {
        background-color: darken(@nav-bg-color, 10%);
      }
    }
  }

}

